<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haifeng.miao.cartest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--联网权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/free1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/free1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.BaseActivity"></activity>
        <activity android:name=".view.VideoActivity" android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/> <!-- or android:screenOrientation="landscape"-->
        <activity android:name=".view.TimeActivity"></activity>
        <activity android:name=".view.SchoolActivity"></activity>
    </application>

</manifest>